@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --u-transition-duration: .3s;
}

@keyframes u-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.u-fade-enter-active {
  animation: u-fade var(--u-transition-duration);
}

.u-fade-leave-active {
  animation: u-fade var(--u-transition-duration) reverse;
}

@keyframes u-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.u-slide-up-enter-active {
  animation: u-slide-up var(--u-transition-duration);
}

.u-slide-up-leave-active {
  animation: u-slide-up var(--u-transition-duration) reverse;
}

@keyframes u-slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.u-slide-down-enter-active {
  animation: u-slide-down var(--u-transition-duration);
}

.u-slide-down-leave-active {
  animation: u-slide-down var(--u-transition-duration) reverse;
}

@keyframes u-slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.u-slide-left-enter-active {
  animation: u-slide-left var(--u-transition-duration);
}

.u-slide-left-leave-active {
  animation: u-slide-left var(--u-transition-duration) reverse;
}

@keyframes u-slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.u-slide-right-enter-active {
  animation: u-slide-right var(--u-transition-duration);
}

.u-slide-right-leave-active {
  animation: u-slide-right var(--u-transition-duration) reverse;
}
