@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --u-transition-duration: .3s;
}

@keyframes u-animate-opacity {
  from {
    opacity: var(--u-opacity-start);
  }

  to {
    opacity: var(--u-opacity-end);
  }
}

.u-animate-opacity {
  animation: u-animate-opacity var(--u-transition-duration);
}

/* transition component animation */
/* opacity */
.u-animate-opacity-enter-active,
.u-animate-opacity-leave-active {
  transition: opacity var(--u-transition-duration);
}

.u-animate-opacity-enter-from,
.u-animate-opacity-leave-to {
  opacity: 0;
}

.u-animate-opacity-enter-to,
.u-animate-opacity-leave-from {
  opacity: 1;
}

/* customized animation */
@keyframes u-animate-dialog-inner-persistent {
  from {
    transform: scale(1)
  }

  50% {
    transform: scale(1.05)
  }

  to {
    transform: scale(1)
  }
}

.u-animate-dialog-inner-persistent {
  animation: u-animate-dialog-inner-persistent .15s;
}
